database:
    dsn: "sqlite::memory:"


services:
    - Zenify\NetteDatabaseFilters\Tests\Filter\DummyFilter
    - Zenify\NetteDatabaseFilters\Tests\Filter\NameJohnOutFilter

extensions:
    - Zenify\NetteDatabaseFilters\DI\NetteDatabaseFiltersExtension
