database:
    # copied from https://github.com/nette/examples/blob/master/CD-collection/app/model/demo.db3
    dsn: "sqlite:%appDir%/data/database.db3"

services:
    - Zenify\NetteDatabaseFilters\Tests\Filter\DummyFilter
    - Zenify\NetteDatabaseFilters\Tests\Filter\IgnoreMobyFilter

extensions:
    - Zenify\NetteDatabaseFilters\DI\NetteDatabaseFiltersExtension
